<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Классификация изображений</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Классификация изображений</h1>
        <div class="upload-section">
            <form id="upload-form">
                <label for="file-input">Выберите изображение</label>
                <input type="file" id="file-input" name="file" accept="image/*" required>
                <button type="submit">Загрузить и классифицировать</button>
            </form>
            <div id="result" class="result-card">
                <h2>Результат:</h2>
                <p id="top-prediction"></p>
            </div>
            <button id="toggle-dark-mode">Тёмная тема</button>
        </div>
    </div>

    <script>
        document.getElementById('upload-form').onsubmit = async (e) => {
            e.preventDefault();
            const formData = new FormData();
            formData.append('file', e.target.file.files[0]);

            const response = await fetch('/', {
                method: 'POST',
                body: formData
            });

            const result = await response.json();
            if (result.error) {
                alert(result.error);
            } else {
                document.getElementById('top-prediction').innerText = `Класс: ${result.class_name}`;
                document.getElementById('result').style.display = 'block';
            }
        };

        // Переключение тёмной темы
        const toggleDarkModeButton = document.getElementById('toggle-dark-mode');
        toggleDarkModeButton.addEventListener('click', () => {
            document.body.classList.toggle('dark-mode');
            const isDarkMode = document.body.classList.contains('dark-mode');
            toggleDarkModeButton.innerText = isDarkMode ? 'Светлая тема' : 'Тёмная тема';
        });
    </script>
</body>
</html>