<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Classifier</title>
</head>
<body>
    <h1>Загрузите изображение для классификации</h1>
    <form id="upload-form">
        <input type="file" name="file" accept="image/*" required>
        <button type="submit">Классифиццировать</button>
    </form>
    <h2>Результат:</h2>
    <p id="result"></p>

    <script>
        document.getElementById('upload-form').onsubmit = async (e) => {
            e.preventDefault();
            const formData = new FormData();
            formData.append('file', e.target.file.files[0]);

            const response = await fetch('/', {
                method: 'POST',
                body: formData
            });

            const result = await response.json();
            document.getElementById('result').innerText = JSON.stringify(result, null, 2);
        };
    </script>
</body>
</html>